<div class="page-title" id="page-title">
  <div class="card">
    <h3>Revamedia</h3>
    <div class="page-subTitle">
      <div class="user">
        <img src="{{user.profilePicture}}" alt="{{ user.username }}" (click)="goToProfile(user.userId)">
        <span><p (click)="goToProfile(user.userId)">{{ user.username }}</p></span>
      </div>
    </div>
  </div>
  <div class="right-side">
    <form class="searchUser">
      <input type="search" #searchValue id="search-user" placeholder="Search users..." (keyup)="searchUser(searchValue.value)">
      <div class="users-list" *ngIf="allUsers.length != 0">
        <div *ngFor="let u of allUsers" class="userFound">
          <div class="user" (click)="goToProfile(u?.userId)" title="View {{u?.username}}'s Profile">
            <p>{{u?.firstName +" "+ u?.lastName}}</p>
          </div>
        </div>
      </div>
    </form>
    <div class="buttons">
      <button (click)="openModal('add','post-modal', user.userId)">Add Post</button>
      <!-- <button (click)="openModal('add','youtube-modal', user.userId)" id="share-youtube">Share Video</button> -->
    </div>
  </div>
</div>

<!-- ADD POST FORM START -->
<div class="modal" id="add-post-modal">
  <div class="form-header">
    <h3>Create new post</h3>
    <span (click)="closeModal('add', 'post-modal')">x</span>
  </div>
  <form #addPostForm="ngForm" (ngSubmit)="onAddPost(addPostForm)" ngNativeValidate>
    <div class="form-data">
      <h4>Add Image Link</h4>
      <input type="url" name="image" ngModel id="image" placeholder="Image url...">
    </div>
    <div class="form-data">
      <input type="text" name="userId" ngModel="{{ user.userId }}">
      <h4>Write a caption</h4>
      <textarea name="message" ngModel placeholder="Write a caption..." rows="6"></textarea>
    </div>
    <div class="post-submit">
      <button>Create Post</button>
    </div>
  </form>
</div>
<!-- ADD POST FORM END -->


<!-- ADD Youtube FORM START -->
<!-- <div class="modal" id="add-youtube-modal">
  <div class="form-header">
    <h3><img src="../../../assets/youtube-svgrepo-com.svg" alt="Youtube">Share Youtube Video</h3>
    <span (click)="closeModal('add', 'youtube-modal')">x</span>
  </div>
  <form #youtubePost="ngForm" (ngSubmit)="shareVideo(youtubePost)" ngNativeValidate>
    <div class="form-data">
      <h4>Enter Youtube Link</h4>
      <input
        type="url"
        ngModel
        name="youtubeLink"
        placeholder="Youtube Url..."
        pattern="(?:https?:\/\/)?(?:www\.)?youtu(?:\.be\/|be.com\/\S*(?:watch|embed)(?:(?:(?=\/[-a-zA-Z0-9_]{11,}(?!\S))\/)|(?:\S*v=|v\/)))([-a-zA-Z0-9_]{11,})"
        >
    </div>
    <div class="form-data">
      <input type="hidden" name="userId" ngModel="{{ user?.userId }}">
      <h4>Write a caption</h4>
      <textarea name="message" ngModel placeholder="Write a caption..." required rows="4"></textarea>
    </div>
    <div class="post-submit">
      <button>Share</button>
    </div>
  </form>
</div> -->
<!-- ADD YOUTUBE FORM END -->

<!-- EDIT Youtube FORM START -->
<!-- <div class="modal" id="edit-youtube-modal">
  <div class="form-header">
    <h3><img src="../../../assets/youtube-svgrepo-com.svg" alt="Youtube">Edit Youtube Post</h3>
    <span (click)="closeModal('edit', 'youtube-modal')">x</span>
  </div>
  <form #editYoutubePost="ngForm" (ngSubmit)="editVideo(editYoutubePost)" ngNativeValidate>
    <div class="form-data">
      <h4>Edit Youtube Link</h4>
      <input
        type="text"
        ngModel="{{ editYoutube?.youtubeLink }}"
        name="youtubeLink"
        pattern="(?:https?:\/\/)?(?:www\.)?youtu(?:\.be\/|be.com\/\S*(?:watch|embed)(?:(?:(?=\/[-a-zA-Z0-9_]{11,}(?!\S))\/)|(?:\S*v=|v\/)))([-a-zA-Z0-9_]{11,})"
        >
    </div>
    <div class="form-data">
      <input type="hidden" name="postId" ngModel="{{ editYoutube?.postId }}">
      <h4>Write a caption</h4>
      <textarea name="message" ngModel="{{ editYoutube?.message }}" placeholder="Write a caption..." required rows="4"></textarea>
    </div>
    <div class="post-submit">
      <button>Update</button>
    </div>
  </form>
</div> -->
<!-- EDIT YOUTUBE FORM END -->

<!-- DELETE YOUTUBE FORM START -->
<!-- <div class="modal" id="delete-youtube-modal">
  <div class="form-header">
    <h3><img src="../../../assets/youtube-svgrepo-com.svg" alt="Youtube">Delete Youtube Post</h3>
    <span (click)="closeModal('delete','youtube-modal')">x</span>
  </div>
  <form (ngSubmit)="deleteVideo(deleteYoutube?.postId)">
    <h2>Are you sure you want to delete this youtube post?</h2>
    <a style="font-size: .9rem;color: lightskyblue;" href="{{ deleteYoutube?.youtubeLink }}" target="_blank">{{ deleteYoutube?.youtubeLink }}</a>
    <span style="font-size: .9rem;">{{ deleteYoutube?.message }}</span>
    <div class="post-submit">
      <button id="deleteBtn">Delete</button>
    </div>
  </form>
</div> --> -->
<!-- DELETE YOUTUBE FORM END -->
<!-- BLACKOUTSCREEN -->
<!-- <div class="screen" id="screen" (click)="closeAnyModal()"></div> -->

