<!--Edit POST FORM START -->
<!-- <div class="modal" id="edit-post-modal">
  <div class="form-header">
    <h3>Edit post</h3>
    <span (click)="closeModal('edit', 'post-modal')">x</span>
  </div>
  <form #editPostForm="ngForm" (ngSubmit)="onUpdatePost(editPostForm)" ngNativeValidate>
    <div class="form-data">
      <h4>Edit Image or Video</h4>
      <input type="hidden" name="postId" ngModel="{{ p?.postId }}">
      <input type="url" ngModel="{{ p?.image }}" name="image" id="image" placeholder="ImageUrl or Youtube Link">
    </div>
    <div class="form-data">
      <h4>Edit caption</h4>
      <textarea name="message" placeholder="Write a caption..." ngModel="{{ p?.message }}" rows="6"></textarea>
    </div>
    <div class="post-submit">
      <button>Update Post</button>
    </div>
  </form>
</div>
<!-- Edit POST FORM END-->

