<div class="home-page" id="home-page" >
   <app-home-page-title [user]="user"></app-home-page-title>
    <div class="main" id="main">
    <div class="buttons">
      <button (click)="openNewPostForm()">Add Post</button>
      <button  id="share-youtube">Share Video</button>
    </div>
    <div class="post-data">
      <app-post-add *ngIf="addPostIsOn" [user]="user"  (closeNewPostForm)='closeNewPostForm()'></app-post-add>
    </div>
    <div class="post-data" *ngFor="let post of posts">
      <app-post [post]="post"  ></app-post>
    </div>
    <app-no-post [posts]="posts"></app-no-post>>
  </div>
</div>
