<div class="home-page" id="home-page">
 <app-home-page-title  [user]="user"></app-home-page-title>
  <!-- main feed start -->
  <div class="main" id="main">
    <!-- post start -->
      <div class="post-data" *ngFor="let post of posts">

       <app-post [post]="post" ></app-post>
      </div>
    <!-- post end -->
    <!-- NO POST AVAILABLE START-->
    <div class="noPost" *ngIf="posts.length == 0">
      <h1>No Post</h1>
      <p>Seems like there are no posts available to show</p>
      <p>Sorry for the inconvience.</p>
      <span>Be the first to make a post.</span>
    </div>
    <!-- NO POST AVAILABLE END-->
  </div>
  <!-- main feed end -->
</div>
