<div class="profile-page" id="profile-page">
  <!-- Page title Start -->
  <div class="page-title" id="page-title">
    <h3>Revamedia</h3>
    <div class="page-subTitle">
      <div class="user">
        <img src="{{user?.profilePicture}}" alt="{{ user?.username }}">
        <span><p>{{ user?.username }}</p>'s Profile</span>
      </div>
    </div>
  </div>
  <!-- Page title End -->

  <!-- PROFILE START -->
  <div class="profile" id="profile">
    <div class="profile-header" id="setBackgroundColor">
      <div class="left-card">
        <img src="{{user?.profilePicture}}" alt="{{ user?.username }}">
        <h5>{{ user?.username }}</h5>
      </div>

      <div class="right-card">
        <!-- *ngIf="user?.username != currentUser?.username" -->
        <div class="right-card-container" *ngIf="user?.username != currentUser?.username">
          <form #followForm="ngForm" (ngSubmit)="followUser(followForm)">
            <input type="hidden" ngModel="{{ currentUser?.userId }}" name="followerId">
            <input type="hidden" ngModel="{{ user?.userId }}" name="followedId">
            <button>Follow</button>
          </form>
          <form #unfollowForm="ngForm" (ngSubmit)="unfollowUser(unfollowForm)">
            <input type="hidden" ngModel="{{ currentUser?.userId }}" name="followerId">
            <input type="hidden" ngModel="{{ user?.userId }}" name="followedId">
            <button id="unFollow">Unfollow</button>
          </form>
        </div>
        <h5 (click)="openModal('followers', user)">{{ followerLength }} Follower</h5>
        <h5 (click)="openModal('following', user)">{{ followingLength }} Following</h5>
      </div>
    </div>

    <h4 class="profile-posts-title" id="setBackgroundColor" *ngIf="user?.postsOwned.length != 0">{{ user?.username }}'s Posts</h4>
    <div class="users-post">
      <div class="post" *ngFor="let post of user?.postsOwned">
        <img *ngIf="post?.image !== null" src="{{ post?.image }}" alt="{{ post?.image }}">
        <span *ngIf="post?.image !== null">{{ post?.message }}</span>
      </div>
    </div>

    <div class="shared-youtube-links-container">
      <h5>Shared Youtube Links</h5>
      <div class="youtube-post-wrapper" *ngFor="let post of user?.postsOwned">
        <div class="youtube-post" *ngIf="post?.image === null" id="post-body">
          <div class="youtube-link">
            <div class="youtube-logo">
              <img src="../../../assets/youtube-svgrepo-com.svg" alt="Youtube">
            </div>
              <a *ngIf="post?.image === null" href="{{post?.youtubeLink}}" target="_blank">{{ post?.youtubeLink }}</a>
          </div>
          <p *ngIf="post?.image === null"><span>{{ user?.username }}</span>{{ post?.message }}</p>
        </div>
      </div>
    </div>

    <!-- NO POST AVAILABLE START-->
    <div class="noPost" *ngIf="user?.postsOwned.length == 0">
      <h1>No Post</h1>
      <p>Seems like {{ user?.username }} doesn't have any posts.</p>
    </div>
    <!-- NO POST AVAILABLE END-->
  </div>
  <!-- PROFILE END -->
</div>

<!-- BLACKOUTSCREEN START-->
<div class="screen" id="screen"></div>
<!-- BLACKOUTSCREEN END-->

<!-- FOLLOWERS MODALS START-->
<div class="modal" id="followers-modal">
  <div class="modal-header">
    <h3>Followers</h3>
    <span (click)="closeModal('followers')">x</span>
  </div>
  <div class="modal-body">
    <div class="follower" *ngFor="let follower of user?.followers">
        <div class="follower-data">
          <img src="{{follower?.followerId?.profilePicture }}" alt="{{follower?.followerId?.username}}" (click)="goToProfile(follower?.followerId?.userId)">
          <h5>{{ follower?.followerId?.username }}</h5>
        </div>
        <span (click)="goToProfile(follower?.followerId?.userId)">View Profile</span>
      </div>
    <div class="noFollowers" *ngIf="user?.followers.length == 0">
      <h4>0 Followers</h4>
    </div>
  </div>
</div>
<!-- FOLLOWERS MODALS END-->

<!-- FOLLOWING MODALS START-->
<div class="modal" id="following-modal">
  <div class="modal-header">
    <h3>Following</h3>
    <span (click)="closeModal('following')">x</span>
  </div>
  <div class="modal-body">
    <div class="following" *ngFor="let following of user?.following">
        <div class="following-data">
          <img src="{{following?.followedId?.profilePicture }}" alt="{{following?.followedId?.username}}" (click)="goToProfile(following?.followedId?.userId)">
          <h5 (click)="goToProfile( following?.followedId?.userId )">{{ following?.followedId?.username }}</h5>
        </div>
        <span (click)="goToProfile(following?.followedId?.userId)">View Profile</span>
    </div>
    <div class="noFollowing" *ngIf="user?.following.length == 0">
      <h4>0 Following</h4>
    </div>
  </div>
</div>
<!-- FOLLOWING MODALS END-->

