$orange: #FEAE49;
$blue: #57BEE6;
$grey: rgb(192, 192, 190);
$lightgrey: #e6e5de;
$darkgrey: rgb(61, 66, 74);

.post {
  max-width: 100%;
  border: 1px solid $lightgrey;
  border-radius: 8px;
  margin-bottom: .5rem;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.075) 0px 3px 8px;

        // POST TITLE START
        .post-title {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          border-bottom: 1px solid $lightgrey;
          padding: 1rem;

          .post-author {
            display: flex;
            flex-direction: row;
            align-items: center;

            img {
              cursor: pointer;
              border-radius: 50%;
              width: 1.5rem;
              height: 1.5rem;
              border: 1.5px solid $blue;

              &:hover {
                border: 1.5px solid $orange;
              }
            }

            p {
              cursor: pointer;
              text-decoration: none;
              color: $darkgrey;
              margin-left: .5rem;
              font-size: 1rem;
              font-weight: 500;
              &:hover{
                text-decoration: underline;
              }
            }
          }

          .post-options {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            #editIcon{
              color: $blue;
              font-size: 1.2rem;
              cursor: pointer;
              &:hover{
                color: #408eae;
              }
            }
            #trashIcon{
              cursor: pointer;
              margin-left: 1rem;
              color: $orange;
              font-size: 1.2rem;
              &:hover{
                color: #cb8836;
              }
            }
          }
        }
        @media screen and (max-width: 800px) {
          .post-title {
            .post-options {
              #icon {
                font-size: 1.2rem;
              }

              ul {
                width: 20%;
                transform: translate(40%, 24%);
              }
            }
          }
        }

  // POST BODY START
  .post-body {
    img {
      width: 100%;
      max-height: 28rem;
      object-fit: cover;
    }

    .post-description {
      width: 100%;
      padding: 1rem;

      p {
        a {
          cursor: pointer;
          margin-right: 1rem;
          text-decoration: none;
          color: $darkgrey;
          font-weight: 600;
          font-size: 1rem;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .post-options {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      border-top: 1px solid $lightgrey;
      padding: 1rem;

      .container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        .likes {
          .NoLike {
            color: pink;
            cursor: pointer;
            transition: all .3s ease-in-out;

            &:hover {
              color: red;
            }
          }

          .OneLike {
            color: red;
            cursor: pointer;
            transition: all .3s ease-in-out;

            &:hover {
              color: rgb(187, 0, 0);
            }
          }

          span {
            margin-left: .5rem;
            font-size: .9rem;
          }
        }

        .comment {
          margin-left: 1rem;
          cursor: pointer;

          span {
            margin-left: .4rem;
            font-size: .8rem;
            color: $grey;

            &:hover {
              color: $darkgrey;
            }
          }

          #commentIcon {
            color: lightblue;
            cursor: pointer;
            transition: all .3s ease-in-out;

            &:hover {
              color: $blue;
            }
          }
        }
      }

      .bookmark {
        opacity: 0;

        #icon {
          color: $grey;
          cursor: pointer;
          transition: all .3s ease-in-out;

          &:hover {
            color: $darkgrey;
          }
        }
      }
    }

    .add-comment {
      margin: .5rem 0;
      width: 100%;
      background: white;
      border-radius: 8px;
      box-shadow: rgba(0, 0, 0, 0.075) 0px 3px 8px;
      padding: 1rem;

    }

    .post-comments-section {
      margin-top: .5rem;
      background: white;
      width: 100%;
      border-radius: 6px;
      padding: 2rem;
      box-shadow: rgba(0, 0, 0, 0.075) 0px 3px 8px;

      h5 {
        font-size: 1rem;
        color: $darkgrey;
        margin-bottom: .5rem;
        text-decoration: underline;
      }

      .comment {
        border-bottom: 1.5px solid $lightgrey;
        padding-bottom: .5rem;
      }
    }


  }
}

.screen {
  position: fixed;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.002);
  top: -100%;
  left: -100%;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  transition: all .6s ease-in-out;
}

.modal {
  position: fixed;
  z-index: 15;
  top: -100%;
  left: 20%;
  transform: scale(0);
  transition: all .6s ease-in-out;
  background-color: white;
  border-right: 3px solid $orange;
  border-left: 3px solid $orange;
  border-bottom: 3px solid $blue;
  border-top: 3px solid $blue;
  min-height: 30vh;
  border-radius: 2px;
  background: white;
  padding: 2rem;
  width: 60%;

  .form-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    h3 {
      font-size: 2.2rem;
      color: $darkgrey;
      text-decoration: underline;
      display: flex;
      flex-direction: row;
      align-items: center;
      img{
        width: 2rem;
        height: 2rem;
        margin-right: 1rem;
      }
    }

    span {
      font-size: 2.5rem;
      color: $darkgrey;
      cursor: pointer;
      transition: all .3s ease-in-out;

      &:hover {
        color: $blue;
      }
    }
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: .5rem 0;

    h2 {
      color: $darkgrey;
      font-size: 1.5rem;
      font-weight: 500;
      margin: .5rem 0;
    }

    .form-data {
      margin-bottom: .5rem;
      width: 100%;
      display: flex;
      flex-direction: column;

      h4 {
        font-size: 1.25rem;
        color: $darkgrey;
        margin-bottom: .5rem;
      }

      input {
        width: 100%;
        padding: .3rem;
        font-size: 1rem;
        color: $darkgrey;
        border: 1px solid $grey;
        border-radius: 4px;
        outline: none;

        &:focus {
          border: 1px solid $blue;
        }
      }

      .file {
        opacity: 0;
        width: 0.1px;
        height: 0.1px;
        position: absolute;
      }

      .file-input label {
        margin: .5rem 0;
        display: block;
        position: relative;
        height: 2rem;
        width: 7rem;
        border-radius: 8px;
        background: $lightgrey;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: .9rem;
        color: $darkgrey;
        cursor: pointer;
        transition: transform .2s ease-out;
      }

      .file-name {
        font-size: 0.85rem;
        color: #555;
      }

      input:hover+label,
      input:focus+label {
        transform: scale(1.02);
      }

      /* Adding an outline to the label on focus */
      input:focus+label {
        outline: 1px solid #000;
        outline: -webkit-focus-ring-color auto 2px;
      }

      button {
        align-self: flex-end;
        width: 20%;
        border: none;
        padding: .4rem;
        border-radius: 4px;
        background: $lightgrey;
        font-size: .9rem;
        color: $darkgrey;
        cursor: pointer;

        &:hover {
          background: $grey;
        }
      }

      textarea {
        width: 100%;
        resize: none;
        overflow: auto;
        font-size: 1rem;
        padding: .5rem;
        color: $darkgrey;
        outline: none;
        border: none;
        border: 1px solid $grey;
        border-radius: 3px;

        &:focus {
          border: 1.2px solid $orange;
        }
      }
    }

    .post-submit {
      margin-top: 1rem;
      width: 100%;
      display: flex;
      justify-content: flex-end;

      button {
        border: none;
        background: $orange;
        font-size: 1.25rem;
        cursor: pointer;
        color: $darkgrey;
        padding: .4rem 1rem;
        border-radius: 3px;
        transition: all .3s ease-in-out;

        &:hover {
          background: #e4993f;
        }
      }

      #deleteBtn {
        border: none;
        background: rgb(206, 0, 0);
        font-size: 1.25rem;
        cursor: pointer;
        color: white;
        padding: .4rem 1rem;
        border-radius: 3px;
        transition: all .3s ease-in-out;

        &:hover {
          background: rgb(162, 0, 0);
        }
      }
    }
  }
}

.openScreen {
  top: 0;
  left: 0;
  opacity: 1;
}

.openModal {
  top: 9%;
  left: 20%;
  transform: scale(1);
}

@media screen and (max-width: 800px) {
  .post-title {
    .post-options {
      #icon {
        font-size: 1.2rem;
      }

      ul {
        width: 20%;
        transform: translate(40%, 24%);
      }
    }
  }
}


