<div class="post">
  <div class="post-title" id="setBackgroundColor">
    <div class="post-author" title="View {{post.ownerId.username}} Profile">
      <img src="{{ post.ownerId.profilePicture }}" alt="{{ post.ownerId.username  }}"
        (click)="goToProfile(post.ownerId?.userId)">
      <p (click)="goToProfile(post.ownerId.userId)">{{ post.ownerId.username }}</p>
    </div>
    <div class="post-options">
      <fa-icon  id="editIcon" [icon]="faPenToSquare" ></fa-icon>
      <fa-icon  id="trashIcon" [icon]="faTrashCan"></fa-icon>
    </div>
  </div>
  <div class="post-body" id="post-body">
    <img src="{{post.image}}" alt="{{post.image}}" *ngIf="post?.image !== null">
    <div class="post-description" id="setBackgroundColor">
      <p><a (click)="goToProfile(post.ownerId.userId)">{{post.ownerId.username }}</a>{{post.message}}</p>
      <p>{{post.message}}</p>
    </div>
    <div class="post-options" id="setBackgroundColor">
      <div class="container">
        <div class="likes" (click)="likePost(post)">
          <fa-icon [icon]="faHeart" size="lg" [ngClass]="[post.likes.length < 1 ? 'NoLike' : 'OneLike']">
          </fa-icon>
          <span>{{ post.likes?.length }} likes</span>
        </div>
        <div class="comment" (click)="toggleComments()"><span>Comment</span>
          <fa-icon id="commentIcon" title="Comment" [icon]="faComment" size="lg"></fa-icon>
        </div>
      </div>
      <div class="bookmark">
        <fa-icon id="icon" title="Bookmark" [icon]="faBookmark" size="lg"></fa-icon>
      </div>

    </div>

    <span *ngIf="post.comments?.length === 0">No Comments</span>
    <div class="post-comments-section" *ngIf="viewCommentsIsOn" id="commentSection">
      <div class="add-comment" id="addCommentReplyForm">
        <app-post-comment-add [post]="post"></app-post-comment-add>
      </div>
      <h5>Comments</h5>
      <div class="comment" *ngFor="let comment of post?.comments">
        <app-post-comment [comment]="comment"></app-post-comment>
      </div>
    </div>
  </div>
</div>
