<!-- ADD POST FORM START -->
<div class="modal" id="add-post-modal">
  <div class="form-header">
    <h3>Create new post</h3>
    <span (click)="closeForm()">x</span>
  </div>
  <form #addPostForm="ngForm" (ngSubmit)="onAddPost(addPostForm)" ngNativeValidate>
    <div class="form-data">
      <h4>Add Image Link</h4>
      <input type="url" name="image" ngModel id="image" placeholder="Image url...">
    </div>
    <div class="form-data">
      <input type="hidden" name="userId" ngModel="{{ user?.userId }}">
      <h4>Write a caption</h4>
      <textarea name="message" ngModel placeholder="Write a caption..." rows="6"></textarea>
    </div>
    <div class="post-submit">
      <button>Create Post</button>
    </div>
  </form>
</div>
<!-- ADD POST FORM END -->
