
 <!--delete POST FORM START -->
  <!-- <div class="modal" id="delete-post-modal">
   <div class="form-header">
     <h3>Delete post</h3>
     <span (click)="closeModal('delete', 'post-modal')">x</span>
   </div>
   <form (ngSubmit)="onDeletePost(deletePost?.postId)">
     <h2>Are you sure you want to delete this post?</h2>
     <span style="font-size: .9rem;">{{ deletePost?.message }}</span>
     <img style="width:8rem;height: 8rem; object-fit:cover;" *ngIf="deletePost?.image !== ''" src="{{ deletePost?.image }}" alt="Image">
     <div class="post-submit">
       <button id="deleteBtn">Delete Post</button>
     </div>
   </form>
 </div>  -->
