<div class="groups-page" id="groups-page">

  <!-- Page title Start -->
  <div class="page-title" id="page-title">
    <h3>Revamedia</h3>
    <div class="page-subTitle">
      <span>Group {{ group?.title }}</span>
    </div><!-- CLOSES PAGE SUBTITLE-->
  </div><!-- CLOSES PAGE TITLE-->

  <!-- PAGE CONTENT-->
  <div class="groups-content">

    <div class="mygroups-container">
      <div class="group">
        <img src="{{group?.imageUrl}}" alt="{{group?.title}}">
        <h2>{{group?.title}}</h2>
        <span>{{ group?.description }}</span>
      </div>
    </div><!-- CLOSES MY GROUPS-->
  </div><!-- CLOSES PAGE CONTENT-->

</div><!-- CLOSES GROUPS-PAGE-->

