$orange: #FEAE49;
$blue: #57BEE6;
$grey: rgb(192, 192, 190);
$lightgrey: #e6e5de;
$darkgrey: rgb(61, 66, 74);
.group-page{
  margin-left: 6%;
  padding: 2rem 1rem;
  min-height: 100vh;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%230FF'/%3E%3Cstop offset='1' stop-color='%23CF6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23F00'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='5.9399999999999995'%3E%3Cpath d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='1.9800000000000002' transform='' cx='500' cy='100' r='40'/%3E%3Cpath transform='' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='1.8'%3E%3Cpath transform='' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='3.9600000000000004' transform='' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  .page-title{
    width: 100%;
    background: white;
    h3{
      font-size: 1.5rem;
      font-weight: bold;
      color: $darkgrey;
    }
    span{
      font-size: 1rem;
    }
    border-bottom: .7px solid $lightgrey;
    padding-bottom: .5rem;
  }

  .group-content{
    width: 100%;

    .group-description{
      width: 100%;
      border-bottom: 1px solid $grey;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 1rem;
      .image{
        img{
          width: 12rem;
          height: 12rem;
          object-fit:fill;
          border-radius: 3px;
          border: 3px solid $blue;
        }
      }
      .text{
        margin-left: 1rem;
        h2{
          font-size: 3rem;
          color: $darkgrey;
        }
        span{
          color: $darkgrey;
          font-size: 1.1rem;
        }
        .admin{
          #editIcon{
            color: $blue;
            font-size: 1.2rem;
            cursor: pointer;
            &:hover{
              color: #408eae;
            }
          }
          #trashIcon{
            cursor: pointer;
            margin-left: 1rem;
            color: $orange;
            font-size: 1.2rem;
            &:hover{
              color: #cb8836;
            }
          }
        }
      }
    }

    .group-wall{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .noPost {
        width: 60%;
        padding: 2rem;
        margin: 5rem 0;
        border-radius: 8px;
        background-color: #FBAB7E;
        background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
        box-shadow: rgba(0, 0, 0, 0.075) 0px 3px 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h4 {
          font-size: 3rem;
          color: white;
        }
        span{
          margin-top: 1rem;
          font-size: 1.3rem;
          color: $darkgrey;
        }
      }
    }
  }
}


// Media Queries
@media screen and (max-width: 800px) {
  .groups-page{
    margin-left: 0;
    margin-top: 10%;
    background-color: #FFFFFF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='300' height='250' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.18'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");

  }

  // MODALS
  .modal{
    .modal-body{
      .follower,.following{
        .follower-data,.following-data{
          img{
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
          }
          h5{
            margin-left: .5rem;
            color: $darkgrey;
          }
        }
        .follow-option{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content:  center;
          button{
            margin-bottom: .3rem;
          }
        }
      }
    }
  }
}


// ADD POST FORM
.screen {
  position: fixed;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.002);
  top: -100%;
  left: -100%;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  transition: all .6s ease-in-out;
}

.modal {
  position: fixed;
  z-index: 15;
  top: -100%;
  left: 20%;
  transform: scale(0);
  transition: all .6s ease-in-out;
  background-color: white;
  border-right: 3px solid $orange;
  border-left: 3px solid $orange;
  border-bottom: 3px solid $blue;
  border-top: 3px solid $blue;
  min-height: 30vh;
  border-radius: 2px;
  background: white;
  padding: 2rem;
  width: 60%;

  .form-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    h3 {
      font-size: 2.2rem;
      color: $darkgrey;
      text-decoration: underline;
      display: flex;
      flex-direction: row;
      align-items: center;
      img{
        width: 2rem;
        height: 2rem;
        margin-right: 1rem;
      }
    }

    span {
      font-size: 2.5rem;
      color: $darkgrey;
      cursor: pointer;
      transition: all .3s ease-in-out;

      &:hover {
        color: $blue;
      }
    }
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: .5rem 0;

    h2 {
      color: $darkgrey;
      font-size: 1.5rem;
      font-weight: 500;
      margin: .5rem 0;
    }

    .form-data {
      margin-bottom: .5rem;
      width: 100%;
      display: flex;
      flex-direction: column;

      h4 {
        font-size: 1.25rem;
        color: $darkgrey;
        margin-bottom: .5rem;
      }

      input {
        width: 100%;
        padding: .3rem;
        font-size: 1rem;
        color: $darkgrey;
        border: 1px solid $grey;
        border-radius: 4px;
        outline: none;

        &:focus {
          border: 1px solid $blue;
        }
      }


      button {
        align-self: flex-end;
        width: 20%;
        border: none;
        padding: .4rem;
        border-radius: 4px;
        background: $lightgrey;
        font-size: .9rem;
        color: $darkgrey;
        cursor: pointer;

        &:hover {
          background: $grey;
        }
      }

      textarea {
        width: 100%;
        resize: none;
        overflow: auto;
        font-size: 1rem;
        padding: .5rem;
        color: $darkgrey;
        outline: none;
        border: none;
        border: 1px solid $grey;
        border-radius: 3px;

        &:focus {
          border: 1.2px solid $orange;
        }
      }
    }

    .post-submit {
      margin-top: 1rem;
      width: 100%;
      display: flex;
      justify-content: flex-end;

      button {
        border: none;
        background: $orange;
        font-size: 1.25rem;
        cursor: pointer;
        color: $darkgrey;
        padding: .4rem 1rem;
        border-radius: 3px;
        transition: all .3s ease-in-out;

        &:hover {
          background: #e4993f;
        }
      }

      #deleteBtn {
        border: none;
        background: rgb(206, 0, 0);
        font-size: 1.25rem;
        cursor: pointer;
        color: white;
        padding: .4rem 1rem;
        border-radius: 3px;
        transition: all .3s ease-in-out;

        &:hover {
          background: rgb(162, 0, 0);
        }
      }
    }
  }
}

// media queries for modals
@media screen and (max-width: 800px) {
  .modal {
    width: 90%;

    .form-header {
      h3 {
        font-size: 2rem;
      }
    }
  }
}

.openScreen {
  top: 0;
  left: 0;
  opacity: 1;
}

.openModal {
  top: 9%;
  left: 20%;
  transform: scale(1);
}

// media queries for modals
@media screen and (max-width: 800px) {
  .openModal {
    top: 5%;
    left: 5%;
  }
}
