
$orange: #FEAE49;
$blue: #57BEE6;
$grey: rgb(192, 192, 190);
$lightgrey: #e6e5de;
$darkgrey: rgb(61, 66, 74);
  .comment-title {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .comment-author {
      display: flex;
      flex-direction: row;
      align-items: center;

      img {
        border-radius: 50%;
        width: 1.5rem;
        height: 1.5rem;
        border: 1.5px solid $blue;
        cursor: pointer;
        margin-right: .5rem;
        &:hover {
          border: 1.5px solid $orange;
        }
      }

      p {
        cursor: pointer;
        text-decoration: none;
        color: $darkgrey;
        font-size: 1rem;
        font-weight: 600;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    .comment-option {
      button {
        border: none;
        background: none;
        font-size: 1rem;
        cursor: pointer;
        margin-left: 1rem;
        color: $darkgrey;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .comment-content {
    margin-left: 2rem;

    p {
      font-size: 1rem;
    }

    img {
      margin: .4rem 0 0 .4rem;
      border: 1px solid $lightgrey;
      width: 12rem;
      object-fit: contain;
      border-radius: 3px;
    }
  }

  .reply-card {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    button {
      border: none;
      padding: .4rem;
      border-radius: 4px;
      background: $lightgrey;
      font-size: .7rem;
      color: $darkgrey;
      cursor: pointer;

      &:hover {
        background: $grey;
      }
    }
  }




