

<div class="comment-title">
  <div class="comment-author">
    <img (click)="goToProfile(comment?.ownerId?.userId)" src="{{ comment?.ownerId?.profilePicture }}" alt="{{comment?.ownerId?.username}}">
    <p (click)="goToProfile(comment?.ownerId?.userId)" title="View {{comment?.ownerId?.username}} Profile" >{{comment?.ownerId?.username}}</p>
  </div>
  <div class="comment-option" id="comment-option" *ngIf="comment?.ownerId?.userId == user?.userId">
    <button (click)="openModal('edit', 'comment-modal', comment)" >Edit</button>
    <button (click)="openModal('delete', 'comment-modal', comment)" >Delete</button>
  </div>
</div>
<div class="comment-content">
  <p>{{ comment?.message }}</p>
  <img *ngIf="comment?.giphyUrl !== ''" src="{{ comment?.giphyUrl }}" alt="Attached Image">
</div>
<div class="reply-card">
  <button >Reply</button>
  <!-- (click)="openAddReply()" -->
</div>


